<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <a routerLink="/Home">{{ title }}</a>
  </h1>
    <div class="Aligner">
      <mat-chip-list class="Options">

        <!-- <a routerLink="/Github">
          <mat-chip>Github</mat-chip>
        </a> -->
        <a href="https://github.com/rubinkazan">
          <mat-chip>Github</mat-chip>
        </a>
                <!-- <a routerLink="/CV">
                  <mat-chip>Curriculu Vitae</mat-chip>
                </a> -->
        <a href="/assets/docs/rubin_cv.pdf">
          <mat-chip>Curriculu Vitae</mat-chip>
        </a>

        <a routerLink="/Blog">
        <mat-chip>Blog</mat-chip>
          </a>

      </mat-chip-list>
    </div>
  <router-outlet></router-outlet>
  
 <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
<script>
  
  
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDf0Q2fBS0h0BIWnb4VLpEh-w4JDKRrLsk",
    authDomain: "rvbn-website.firebaseapp.com",
    databaseURL: "https://rvbn-website.firebaseio.com",
    projectId: "rvbn-website",
    storageBucket: "rvbn-website.appspot.com",
    messagingSenderId: "634483563007"
  };
  firebase.initializeApp(config);
</script>

