<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <img src="assets/img/me.png">

  <h1>
    {{ title }}
  </h1>
  <app-home></app-home>
  <!-- <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCsokeg3SP5YmPpiYwh_xuaCojDAJf5HDY",
      authDomain: "celestial-ridge-230915.firebaseapp.com",
      databaseURL: "https://celestial-ridge-230915.firebaseio.com",
      projectId: "celestial-ridge-230915",
      storageBucket: "celestial-ridge-230915.appspot.com",
      messagingSenderId: "90872041026"
    };
    firebase.initializeApp(config);
  </script> -->
