<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <a routerLink="/Home">{{ title }}</a>
  </h1>
    <div class="Aligner">
      <mat-chip-list class="Options">
        <a routerLink="/Github">
          <mat-chip>Github</mat-chip>
        </a>
        <a routerLink="/CV">
          <mat-chip>Curriculu Vitae</mat-chip>
        </a>
        <a routerLink="/Blog">
        <mat-chip>Blog</mat-chip>
          </a>
      </mat-chip-list>
    </div>
  <router-outlet></router-outlet>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCsokeg3SP5YmPpiYwh_xuaCojDAJf5HDY",
      authDomain: "celestial-ridge-230915.firebaseapp.com",
      databaseURL: "https://celestial-ridge-230915.firebaseio.com",
      projectId: "celestial-ridge-230915",
      storageBucket: "celestial-ridge-230915.appspot.com",
      messagingSenderId: "90872041026"
    };
    firebase.initializeApp(config);
  </script>

