<div class="Aligner">
  <p>

  </p>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Monday Morning Thoughts #1</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <h2>What Makes Us Human?</h2>
    <p>
      After smoking a bowl of tobacco and consuming my morning coffee on the way to a computer science lecture. I thought to
      myself, what makes me a human being? I began to ponder our unique faculties, mainly that of the mind and its vast
      complexity; emotions and free will sprung to mind. This lead me to arrive at a conclusion, that while it is arguably
      easy to manage and execute ones rational faculties, it is often at times incredibly difficult to manage the emotional
      faculties, and this is the basis for what makes us human.
    </p>
     <p> 
      Society as we know it constructed by the sciences, physics and mathematics primarily. This is made evident by the great
      influence of the digital era as well as the desire to explore the universe outside of society. Such feats are only made
      possible due to the emotional faculties and the way human beings can interact with one another in harmony.
     </p>
     <p>
      At times it is clear that one can inadequately deal with emotional tribulations, especially in polarising circumstances.
      An example of this would be a divorce/break up whereby an individual is permanently separated from a previously intense
      emotional relationship with another human being. In such circumstances the individuals rational faculty may consistently
      lose the battle with the emotions and succumb to the fruits presented by emotional vulnerability.
    </p>
  </mat-card-content>
</mat-card>
</div>