<!-- <img src="assets/img/me.png"> -->
<!-- <div class="Aligner">
<mat-tab-group>
  <mat-tab label="Github">
        <h1>Github stuff</h1>
    <app-github></app-github>
  </mat-tab>
    <mat-tab label="Curriculum Vitae">
    <h1>CV stuff</h1>
  </mat-tab>
      <mat-tab label="Blog">
        <h1>Blog stuff</h1>
      </mat-tab>
</mat-tab-group>
</div> -->


<div class="Aligner">

  <mat-chip-list class="Options">
  <mat-chip>Github</mat-chip>
  <mat-chip>Curriculum Vitae</mat-chip>
  <mat-chip>Blog</mat-chip>
  </mat-chip-list>
</div>
  <app-github></app-github>
  


